* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c2461;
    height: 100vh;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.051);
    box-shadow:0 15px 35px  rgba(255, 255, 255, 0.2);
    border-top: 1px solid  rgba(250, 52, 52, 0.1);
    border-bottom: 1px solid  rgba(255, 255, 255, 0);
    z-index: 10;
    color: white;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .5s;
    overflow: hidden;
    backdrop-filter: blur(15px);
}

a:hover  {
    letter-spacing: 3px;
}

a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.149), transparent);
    transform: skewX(55deg);
    transition: .5s;
    transition-delay: .5s;
}

a:hover:before {
    transform: skewX(45deg) translate(200%);
    transition-delay: 0s;
}
